<div class="bg-secondary">
  <div class="content">
    <div class="banner">
      <header>
        <button mat-icon-button aria-label="button" routerLink="/signup-three">
          <mat-icon color="primary">keyboard_backspace</mat-icon>
        </button>
        <h1>Details</h1>
      </header>

      <div class="profile">
        <img src="assets/img/profile.jpg" alt="profile" />

        <h2>Sam Smith</h2>
        <span>Wellington</span>

        <div class="icon">
          <mat-icon>place</mat-icon>
        </div>
        <h3>SEARCH PROPERTY</h3>
      </div>
    </div>

    <div class="form-input">
      <div class="input">
        <div class="border-bottom">
          ADDRESS
        </div>
        <p>16 Catherine Crescent, Tawa</p>
      </div>

      <div class="input">
        <div class="border-bottom">
          TELEPHONE
        </div>
        <p>021 045 679</p>
      </div>

      <div class="input">
        <div class="border-bottom">
          E-MAIL
        </div>
        <p>sam@gmail.com</p>
      </div>
    </div>

    <div class="bottom-bar">
      <button mat-icon-button aria-label="button" routerLink="detail-profile">
        <mat-icon color="primary">person</mat-icon>
      </button>
      <button mat-icon-button aria-label="button" routerLink="/">
        <mat-icon color="primary">settings</mat-icon>
      </button>
      <button mat-icon-button aria-label="button" routerLink="/">
        <mat-icon color="primary">bookmark</mat-icon>
      </button>
    </div>
  </div>
</div>
